<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>

	</startup>

	<appSettings>
		<add key="ApiEndpoint" value="https://fiscalstack.co.zw/api/v1/"/>
		<add key="ApiKey" value=""/>
		<add key="VatA" value="0.155"/>
		<add key="VatE" value="0.00"/>
		
		<add key="SetPrinter" value="tre"/><!--true: to use the printer name below,   else: to use the default printer-->
		<add key="PrinterName" value="EPSON TM-T20 Receipt"/>
		
		<add key="SourceFolder" value=""/>
		<add key="TargetFolder" value=""/>
		
		<add key="TaxSymbol" value=""/>
		<add key="NonTaxSymbol" value="*"/>

		<add key="ProductStartLine" value="Order No."/>
		<add key="ProductEndLine" value="Items count"/>

		<add key="InvoiceNumberStartLine" value=""/>
		<add key="InvoiceNumberEndLine" value=""/>
		<add key="CustomerStartLine" value=""/>
		<add key="CustomerEndLine" value=""/>

		<add key="InvoiceTaxAmount" value=""/>
		<add key="InvoiceAmount" value="TOTAL:"/>
		<add key="InvoiceNumber" value="Order No."/>
		<add key="InvoiceComment" value="Original:"/>

		<add key="CustomerName" value="Buyer Name"/>
		<add key="CustomerAddress" value="Buyer Address"/>
		<add key="CustomerEmail" value="Buyer Email"/>
		<add key="CustomerTIN" value="Buyer TIN"/>
		<add key="CustomerVATNumber" value="Buyer VAT"/>
		<add key="CustomerTelephoneNumber" value="Buyer Phone"/>
		 
		
		<add key="Cashier" value="Reason:"/>
		<add key="Reason" value="User:"/>
		<add key="Tendered" value="Paid amount:"/>
		<add key="Change" value="Change:"/>


		<add key="ColumnQuantityIndex" value="0"/>
		<add key="ColumnPriceIndex" value="2"/>
		<add key="ColumnAmountIndex" value="3"/>

		<add key="LogoFile" value="C:\Receipts\logo.png"/>

		<add key="ItemDotCounter" value="2"/>
		<add key="MultiLineProduct" value="1"/>
		<add key="VatFlag" value="1"/>
		<add key="Trained" value="1"/>
	</appSettings>

</configuration>
